.navbar {
    background-color: rgb(255, 235, 101);
}

.container-fluid{
    font-family: "Pacifico", cursive;
}

.book{
    font-family: "Afacad Flux", sans-serif;
}

body {
    background-image: url('https://i.pinimg.com/originals/db/74/f4/db74f485ccbcfacc9ee9ee171e101eea.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}


