/* PARALLAX.CSS */
/*CSS created by Christopher Jay De Claro*/
/*github.com/cjdeclaro*/

/*Key Art default settings*/

.keyart,
.keyart_layer {
	height: 1000px;
}

.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.keyart_layer.parallax {
	position: fixed;
}

.main-content {
	width: 100%;
	position: absolute;
	z-index: 200;
}

/*ADD OR REMOVE LAYERS AS NEEDED*/


#keyart-0 {
	background-image: url(img/pink_bg.png);
}

#keyart-1 {
	background-image: url(img/verythea.png);
	background-size: contain; /* Makes the image fit within the container while maintaining its aspect ratio */
	background-repeat: no-repeat; /* Prevents the image from repeating */
	background-position: center; /* Centers the image in the container */
	height: 200px; /* Adjust to match the desired section height */
	margin-top: 250px;
}
#keyart-2 {
	background-image: url(img/hearts.png);
}

#keyart-3 {
	background-image: url(img/flowers.png);
	margin-top: 100px;
}

#keyart-scrim {
	opacity: 0;
}

@media (min-width: 3500px) and (max-width: 1038px) {
    #keyart-1 {
        background-size: auto 200px; /* Adjust the height for better visibility on laptops */
    }
}